<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todolist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body class="bg-dark text-white">
    <div id="root">
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-6">
                    <h1 class="fw-bold">To Do </h1>

                    <ul>
                        <li 
                            class="list-group-item list-group-item-action d-flex justify-content-between" 
                            v-for="(elementLi, index) in todos"
                            :class=" { 'text-decoration-line-through' : elementLi.done } "
                        >
                            <div class="">
                                {{elementLi.text }}
                            </div>
        
                            <div class="todo-btn"
                                @click="removeNewToDo"                    
                            >
                                <i class="bi bi-file-earmark-minus"></i>
                            </div>    
                        </li>       
                    </ul>

                    <input v-model="newToDo" @keyup.enter="addNewToDo" type="text" placeholder="New To Do?">
                    <button @click="addNewToDo" class="btn btn-success badge badge-pill ">Click Here To Add!</button>
                
                </div>



            </div>
        </div>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>